<div class="top-bar">
  <div class="row">
    <div class="medium-10 medium-offset-1">
      <div class="top-bar-left">
        <ul class="menu">
          <li>{{#link-to "index"}}basic info{{/link-to}}</li>
          <li><a href="" target="_blank">rsvp</a></li>
          <li>{{#link-to "registry"}}registry{{/link-to}}</li>
        </ul>
      </div>
      <div class="top-bar-left">
        <ul class="menu">
          <li>{{#link-to "lodging"}}lodging{{/link-to}}</li>
          <li>{{#link-to "for-fun"}}for fun{{/link-to}}</li>
          <li>{{#link-to "about"}}about{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
