@font-face {
  font-family: 'Comfortaa';
  font-weight: 400;
  src: url('../fonts/comfortaa.ttf');
}

@font-face {
  font-family: 'Steelworks';
  font-weight: 400;
  src: url('../fonts/steelworks.ttf');
}
