@import "fonts";
@import "settings";
@import "foundation";
@include foundation-everything;

html, body, body > .ember-view, .liquid-container, .liquid-child, .full-height {
  height: 100%;
}

.poster {
  display: block;
  margin: 20px auto 0;
  width: 100%;
  max-width: 831px;
}

.top-bar {
  box-shadow: $black 0 0 4px;
  z-index: 100;

  font-family: "Steelworks", Times, serif;
  font-size: 145%;
  color: $white;
  a {
    color: $white;
    text-decoration: none;
  }
  a:hover {
    color: $medium-gray;
  }
  a.active {
    color: #9B9B9B;
  }
}

.main-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.scroller {
  overflow-y: auto;
  height: 100%;
}

.main {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  padding-top: 25px;
  text-align: justify;
}

@include breakpoint(medium) {
  .top-bar {
    font-size: 175%;
  }
}
