{{#main-content}}
  <h2>About the Event</h2>
  <p>This event, otherwise known as “the fusion,” is an imaginative recombination of the usually discrete components of a wedding: the ceremony and the reception. We will be celebrating many different facets of ourselves and our communion with you. There will be games and there will be sacred moments. There will be time constraints and there will be surprises.</p>

  <p>Despite supreme court rulings that purport to uphold inclusion, marriage continues to concentrate property, power, and wealth along nuclear lines which remain inaccessible to folks who reject or otherwise remain outside of the institution of marriage. This legal and social framework also encourages the concentration of care and concern principally along blood ties and institutional ties and discourages other grounds of affiliation and affective community building.</p>

  <p>In recognition of this, we ask that you do not get us “wedding gifts” but rather take a closer look at our “registry” and consider donating whatever you would have spent on us to a cause we support instead. This is an important choice that we’ve made that aims to redirect the first round of resources that participation in a problematic institution intends to reward us with. We want your love and we want your money to contribute to remaking our world in the image of love. That means a world with free healthcare for all, a world without prisons, a world without gender-based or race-based or ability-based violence, a world without class hierarchy, a world with free education for all, a world without religious discrimination, a world abounding with poetry and art in all forms, a world ablaze in beauty.</p>
{{/main-content}}
