{{#main-content}}
  <div class="media-object stack-for-small">
    <div class="media-object-section media-object-section-image">
      <div class="thumbnail">
        <img src="heidi-cho.jpg">
      </div>
    </div>
    <div class="media-object-section">
      <h2>Heidi Cho</h2>
      <p>Heidi Cho is a multi-disciplinary artist based in Toronto, Canada. She self publishes comics and zines about being a queer Korean navigating family, survivorship and mental health. Her work has appeared in C Magazine, Shameless Magazine and Peak Magazine.  She is currently working on a graphic novel about intergenerational trauma and healing.  For more information check out her instagram at www.instagram.com/heidichomakesart</p>
    </div>
  </div>
  <hr>
  <div class="media-object stack-for-small">
    <div class="media-object-section media-object-section-image">
      <div class="thumbnail">
        <img src="jetti-allen.png">
      </div>
    </div>
    <div class="media-object-section">
      <h2>Jetti Allen</h2>
      <p>Jetti Allen is a genderqueer illustrator and writer based in Oakland, California. You can find more of their work on Instagram (@jettiallen). I'm happy to draw you with your favorite flower or animal if you wish!</p>
    </div>
  </div>
  <hr>
  <div class="media-object stack-for-small">
    <div class="media-object-section media-object-section-image">
      <div class="thumbnail">
        <img src="ray-ray-mitrano.jpg">
      </div>
    </div>
    <div class="media-object-section">
      <h2>Ray Ray Mitrano</h2>
      <p>Ray Ray Mitrano loves to participate in community events, performances, workshops and group exhibitions. Storytelling is a major part of what he does, whether it involves drawing, writing, filmmaking or performing. He recently did an MFA with Visual Studies Workshop from SUNY in Rochester, New York and is for hire as an illustrator of events, portraiture and animation.</p>
    </div>
  </div>
  <hr>
  <div class="media-object stack-for-small">
    <div class="media-object-section media-object-section-image">
      <div class="thumbnail">
        <img src="kevin-betou.jpg">
      </div>
    </div>
    <div class="media-object-section">
      <h2>Kevin Betou</h2>
      <p>My name is Kevin Betou, I was born in Paris, France and moved to California when I was six. I’ve been drawing since I was about five but fell in love with sequential art as a medium in middle school. I was attending Oakland School for the Arts at the time and received massive support from my instructors that helped mold me into a more mature artist. I am currently attending Savannah College of Art and Design in Georgia majoring in sequential art (which is just a fancy title Will Eisner coined in order to make comics sound more professional and what I tell my parents so they don’t freak out when I tell them all this money is going towards making cartoons). I write and draw a comic book named “Blackman” which is four issues in. The story follows Kevin Jordan as he fights with the struggles of being the first black hero in fictional South City, I made the comic because personally growing up I didn’t see many heroes of color that accurately represented me so I thought I’d take it into my own hands to make that character. People have compared my style to Ryan Ottley (artist on Invincible) and Mike Mignola (creator of Hellboy) which is an awesome compliment. I work primarily with ink in black and white using cross-hatching to build value. Thanks for considering me!</p>
    </div>
  </div>
{{/main-content}}
