{{#main-content}}
  <h2>Basic Info</h2>

  <h3>Location</h3>
  <p>Vuka; 411 W Monroe St, Austin, TX 78704</p>

  <h3>Date</h3>
  <p>July 15th, 2017; 12:00am - 6pm</p>

  <h3>Dress Code</h3>
  <p>Come dressed as you please; we’re going to be dressed as we please.</p>
{{/main-content}}
