{{#main-content}}
  <h2>For Fun</h2>

  <h3>Vegan Eats</h3>
  <ul>
    <li>Casa de Luz (simple organic fare): 1701 Toomey Rd</li>
    <li>Bouldin Creek Cafe (excellent sandwiches): 1900 S 1st St</li>
    <li>Counter Culture (comfort food): 2337 E Cesar Chavez St</li>
    <li>Sweet Ritual (icecream): 4631 Airport Blvd #125</li>
  </ul>

  <h3>Outdoors</h3>
  <ul>
    <li>Barton Springs (cold water swimming!): 2201 Barton Springs Rd</li>
    <li>Greenbelt (light hiking): 3755 S Capital of Texas Hwy B</li>
  </ul>

  <h3>Shopping</h3>
  <ul>
    <li>Wheatsville Coop (grocery store): 3101 Guadalupe St</li>
    <li>Monkey Wrench Books (anarchist book store): 110 N Loop Blvd E</li>
    <li>Treasure City Thrift (worker-run thrift store): 2142 E 7th St</li>
    <li>Uncommon Objects (wierd stuff): 1512 S Congress Ave</li>
    <li>Lucy in Disguise (custumes, in case you wanna dress up): 506 S Congress Ave</li>
  </ul>
{{/main-content}}
