{{#main-content}}
	<img src="invite.png" class="poster">

	<hr>

	<div>Venue: ____, Austin, TX</div>
	<div>Ceremony & reception time: ____</div>
	<div>Dress code: Come dressed as you please, we’re going to be dressed as we please</div>
	<div>Safer space policy:</div>
	<ul>
		<li>Outline our values</li>
		<li>Outline what to do if you don’t know what to do</li>
		<li>Restrooms will be all gender inclusive</li>
	</ul>
{{/main-content}}
