{{#main-content}}
  <h2>Lodging</h2>
  <p>We can’t wait to see you in Austin! We will not be booking a hotel for the party, but instead encourage everyone to use AirBnB, Couchsurfing, or similar sites to book a room. The ceremony and reception will be in the South Austin area, but any lodging in central Austin will be just a short ride away.</p>
{{/main-content}}
