{{#main-content}}
  <h2>Registry</h2>
  <p>Why is our registry just a list of projects we care about? Find out more in the {{#link-to about}}about section{{/link-to}}.</p>

  <h3>The Omni Commons</h3>
  <p>A collectively run community center in Oakland, the Omni Commons is one of the few DIY spaces left after the mass-evictions following the Ghost Ship fire. It is a hub for activism throughout the East Bay, providing space and resources for over a dozen collectives organized  around food justice, hacking, feminist screenprinting and more, as well as meeting space and educational resources for the community at large. Recent events include: general assemblies for direct action planning, legal observer trainings, and fundraising for noDAPL.</p>

  <p>More info <a href="https://omnicommons.org/" target="_blank">here</a>. <br>
  Donate <a href="https://omnicommons.org/donate.html" target="_blank">here</a>.</p>

  <h3>People’s Community Medics</h3>
  <p>A grassroots Oakland organization that provides emergency medical training to residents of underserved neighborhoods. The collective formed in response to the murder of Oscar Grant, who was refused medical assistance by the police for 20 minutes. Neighbors are trained to administer aid in situations of seizure, bleeding trauma, and other medical emergencies, while waiting for EMT services to arrive. The group was founded by black mothers, Sharena Thomas and Lesley Phillips, and is an all-volunteer collective of 10 members. All their trainings are free.</p>

  <p>More info <a href="http://www.peoplescommunitymedics.org/" target="_blank">here</a>.<br>
  Donate <a href="https://rally.org/f/fipNEDARNFw" target="_blank">here</a>.</p>

  <h3>Sylvia Rivera Law Project</h3>
  <p>A Manhattan-based collective organization that works “to increase the political voice and visibility of low-income people and people of color who are transgender, intersex, or gender non-conforming. SRLP works to improve access to respectful and affirming social, health, and legal services for our communities.” SLRP has a non-hierarchical paid staff of 9 members. Their services include: Immigrant Rights Project, Survival and Self Determination Project, and Prison Justice Project.</p>

  <p>More info <a href="http://srlp.org/" target="_blank">here</a>.<br>
  Donate <a href="http://srlp.org/srlp/?page=CiviCRM&q=civicrm/contribute/transact&reset=1&id=4" target="_blank">here</a>, or mail a check to: SLRP 147 W 24th St, 5th Floor, New York, NY 10011.</p>
{{/main-content}}
